@import '../helper';

.button {
  color: $white;
  height: 40px;
  background-color: $purple;
  font-size: 21px;
  border: none;
  border-radius: 3px;
}

.button--nav:hover {
  cursor: pointer;
  color: $salmon;
  border-bottom: 1px solid $salmon;
}

.button:focus {
  outline: 0;
}

.button--search {
  background-color: $salmon;
  color: $purple;
  margin-left: 10px;
  width: 40px;
}

.button--search:hover {
  cursor: pointer;
  color: $white;
  -webkit-box-shadow: 0px 0px 1px 1px $salmon;
  -moz-box-shadow: 0px 0px 1px 1px $salmon;
  box-shadow: 0px 0px 1px 1px $salmon;
}

.fa-search {
  font-size: 20px;
}