@import './helper';

.filter-container {
  min-width: 260px;
  width: calc((100% - 400px) * 0.3);
  max-width: 320px;
  height: calc(100vh - 60px);
  background-color: beige;
  position: fixed;
  top: 60px;
  border-right: 3px solid $purple;
  @include flexbox(column, flex-start, center);
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}

.price-filter-container {
  width: 100%;
  @include flexbox(row, center, center);
  margin-bottom: 5%;
}
.open-filter-container {
  width: 100%;
  @include flexbox(column, center, center);
  margin-bottom: 5%;
}
.distance-filter-container {
  width: 100%;
  @include flexbox(column, center, center);
  margin-bottom: 5%;

}
.category-filter-container {
  width: 100%;
  @include flexbox(column, center, center);
  margin-bottom: 5%;

}