
.filter-btn {
  border-radius: 15px;
  cursor: pointer;
  background-color: salmon;
  width: 100px;
  border: none; 

}

.price-selected-true {
  background-color: green;
  border: solid 2px black;
  color: red;
}
.distance-selected-true {
  background-color: blue;
  border: solid 2px black;
  color: red;
  
}
