@import './helper';

.filter-container {
  min-width: 200px;
  width: calc((100% - 400px) * 0.3);
  max-width: 300px;
  height: calc(100vh - 60px);
  background-color: purple;
  @include flexbox(column, flex-start, center);
}

.price-filter-container {
  width: 100%;
  @include flexbox(column, center, center);
  margin-bottom: 5%;
}
.distance-filter-container {
  width: 100%;
  @include flexbox(column, center, center);
  margin-bottom: 5%;

}