@import 'styles/helper';

.filter-btn {
  border-radius: 15px;
  cursor: pointer;
  background-color: rgb(255, 245, 244);
  width: 40px;
  border: none; 
  color: $white;
}

.price-selected-true {
  background-color: $white;
  color: $purple;
}
.distance-selected-true {
  background-color: $white;
  color: $purple;
  
}
.category-selected-true {
  background-color: $white;
  color: $purple;
  
}
.each-filter {
  width: 210px;
  @include flexbox(row, flex-start, center);
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;

}

.filter-label {
  border: none;
  border-radius: 4px;
  background-color: inherit;
  padding: 3px;
  font-size: 0.8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 160px;
  text-align: left;
  margin-left: 5px;
  font-size: 16px;
}

.distance-filter-label {
  border: none;
  border-radius: 4px;
  background-color: inherit;
  padding: 3px;
  font-size: 0.8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
  text-align: left;
  margin-left: 5px;
  font-size: 16px;

}

