@import './helper.scss';

.home-layout {
background: linear-gradient(45deg, #7db1ff 30%, #ffffff 90%)
}

.widget-container {
  display: grid;
  grid-template-columns: [col1-start] 50% [col1-end col2-start] 50% [col2-end];
  grid-template-rows: [row1-start] 50% [row1-end row2-start] 50% [row2-end];
  justify-content: center;
  align-content: center;
  position: relative;
  margin-top: 10px;

}

.search-home-container {
  padding-top: 50px;
  padding-left: 180px;
  padding-right: 180px;
  margin: 0 200px;
}
.top-label{
  text-align: center;
  font: $font-stack;
  font-size: 1.5em;
}
.top-container {
  margin-top: 40px;
  @include flexbox(column, center, center)
}