@import './helper';

.nav-bar {
  height: 60px;
  color: $white;
  background-color: $purple;
  display: flex;
  @include flexbox(row, space-between, center);
  font-size: 24px;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%
}

.logo-container {
  @include flexbox(row, space-around, center);
  margin-left: 15px;
  font-weight: bold;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: $white;
  opacity: 1.0;
  text-align: center;
  @include flexbox(row, space-around, center);
}

a:hover {
  color: $salmon;
}

.nav-icon {
  height: 40px;
  margin-right: 10px;
}

.user-container {
  @include flexbox(row, space-around, center);
}

.login {
  margin-right: 20px;
}

.register {
  margin-right: 15px;
}

.account-icon {
  font-size: 24px;
  color: rgb(224, 127, 116);
  margin-right: 20px;
  
}

.hidden {
  width: 0;
  margin: 0;
  padding: 0;
}
.profile-circle{
  @include flexbox(row, center, center);
  background-color: $white;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  margin-right: 20px;
  margin-left: 10px;
  color: $white;
}

.profile-circle-selected{
  @include flexbox(row, center, center);
  border: 2px solid $salmon;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  color: $salmon;


}

.nav-selected {
  font-weight: bold;
  text-align: center;
  // border-bottom: 2px solid $white;
  color: $salmon;
  font-size: 30px;
}
.nav-not-selected {
  font-weight: bold;
  text-align: center;
  // border-bottom: 3px solid $white;
  color: $white;
  font-size: 30px;
}

.selected-container {
  border-radius: 50%;
  // background-color: white;
  height: 38px;
  width: 38px;
  border: 2px solid $salmon;
  text-align: center;
}
.not-selected-container {
   border-radius: 50%;
  // background-color: white;
  text-align: center;
  height: 41px;
  width:41px;
}
.nav-bar-right-container {
  @include flexbox(row, space-around, center);
  min-width: 300px;
}

.icon-name-container {
  @include flexbox(row, flex-start, center);
}