@import './helper';

.result-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: solid;
  text-align: left;
}


.venue-image {
  height: 120px;
  width: 120px;
  float: left;
  margin: 10px;
}

.general-info {
  
  margin-left: -35%;
  

  .venue_name {
    
    margin-top: 10%;
    text-align: left;
    font-size: 20px;
  }

  .venue_name:hover {
    color: blue;
    opacity: 50%;
    cursor: pointer
  }

  .yelp_rating {
    font-size: 10px;
  }

  .covid_rating {
    font-size: 10px;
  }

  .covid_review_count{
    font-size: 10px;
    margin-left: 5%;
  }

  .review-description {
    padding-top: 10%;
    font-size: 15px;
  }
}

.location {
  text-align:right ;
  margin-top: 10px;
  padding-right: 10px;
  float: right;
  font-size: 10px;
}