@import './helper';

.result-container {
  @include flexbox(row, space-between, flex-start);
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid $gray-line;
  border-radius: 6px;
}

.img-container {
  height: 100%;
  width: 140px;
}

.venue-image {
  height: 120px;
  width: 120px;
  margin: 10px;
}

.articles-container{
  overflow-y: scroll;
  width: 100%;
  height: calc(100vh - 260px);
}

::-webkit-scrollbar {
  display: none;
}

.general-info { 

  .venue_name {
    
    margin-top: 10%;
    text-align: left;
    font-size: 20px;
  }

  .venue_name:hover {
    color: $purple;
    cursor: pointer
  }

  .yelp_rating {
    font-size: 10px;
  }

  .covid_rating {
    font-size: 10px;
  }

  .covid_review_count{
    @include flexbox(row, center, center);
    height: 100%;
    font-size: 12px;
    margin-left: 0px;
  }

  .review-description {
    padding-top: 10%;
    font-size: 15px;
  }
}

.location {
  text-align:right ;
  margin-top: 10px;
  padding-right: 10px;
  float: right;
  font-size: 10px;
}

.search-title-container {
  @include flexbox(row, space-between, center);
  margin: 0px 20px 10px 20px;
  padding: 0px 10px 20px 10px;
  border-bottom: 1px solid $gray-line;
}

.rating-outer-container {
  @include flexbox(row, flex-start, center);
  width: 300px;
  font-size: 14px;
  height: 25px;
}

.rating-title {
  @include flexbox(row, center, center);
  width: 85px;
  height: 100%;
}