@import './helper';

.results-container{
  @include flexbox(row, center, center);
  min-width: 400px;
  flex-grow: 1;
  background-color: yellow;
  height: calc(100vh - 60px);
}

.articles-container{
  width: 100%;
  border: 1px solid black;
  height: 100%;
}