@import './helper';

.results-container{
  @include flexbox(column, center, center);
  min-width: 400px;
  flex-grow: 1;
  background-color: white;
  height: calc(100vh - 60px);
}

.articles-pagination-container{
  width: 100%;
  max-height: calc(100vh - 100px);
}

.progress-bar-container {
  @include flexbox(row, center, center);
}

.pagination-container {
  @include flexbox(row, center, center);
  margin-bottom: 20px;
  color: transparent;
}
.search-title-container {
  height: 10%;
  margin: 0;
  margin-left: 10%;
}