@import './helper';

.review-container{
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  border: none;
  border: 1px solid $gray-line;
  background-color: rgb(245, 243, 243);
  border-radius: 15px;
  padding: 2%;
  width: 100%;
  margin-bottom: 20px;
}

.review-container:hover {
  box-shadow: 0 0 2px 2px $gray-line;
}

.review-footer {
  @include flexbox(row, space-between, center);
  margin-left: 10px;
  width: 240px;
}
.rev-footer-container {
  @include flexbox(row, space-between, center);
  width: 100%;
}
.user {
  @include flexbox(row, flex-start, center);
  font-size: 18px;
  font-weight: bold;
}
.profile-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.helpful-count {
  @include flexbox(row, center, center);
  left: 10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgb(189, 189, 189);
  margin-right: 5px;
}

.helpful-container {
  width: 50px;
  @include flexbox(row, space-between, center);
}

.delete-button {
  @include flexbox(row, center, center);
  left: 10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgb(189, 189, 189);
  margin-right: 5px;
}

.editable {
  cursor: pointer;
}

.header-container {
  width: 100%;
  @include flexbox(row, space-between, center);
}

.helpful-count-user {
  left: 10px;
}

.delete-button {
  left: 10px;
  cursor: pointer;
}

.edit-button {
  left: 10px;
  cursor: pointer;
}

.review-numbers {
  @include flexbox(row, space-between, flex-start);
  margin-top: 10px;
}

.review-table {
  width: 130px;
}

.table-row {
  @include flexbox(row, flex-start, center);
}

.left {
  @include flexbox(row, flex-start, center);
  width: 85px;
  font-size: 14px;
  margin-left: 5px;
}

.right {
  @include flexbox(row, flex-end, center);
  width: 45px;
  margin-right: 12px;
  font-size: 14px;
}

.review-description {
  width: 100%;
}

.error-container {
  width: 92px;
}
.review-date {
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}
.home-name-label {
  align-self: flex-end;
  justify-self: flex-end;
  padding-right: 20px;
  font-weight: bold;
  padding-bottom: 20px;  
  
}

.time-ago {
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
}

.sort-group {
  @include flexbox(row, space-between, center);
  width: 100%;
}


.reviews-list-container {
  width: 100%;
}

.username-date {
  @include flexbox(column, flex-start, flex-start);
  height: 100%;
  margin-left: 10px;
  width: 120px;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.venue {
  width: 100%;
  font-weight: bold;
  @include flexbox(row, flex-start, center);
  margin-left: 5px;
}