@import './helper';

.review-container{
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  border: none;
  border: 1px solid $gray-line;
  background-color: rgb(228, 227, 227);
  border-radius: 15px;
  padding: 2%;
  width: 100%;
  margin-bottom: 20px;
}

.review-container:hover {
  box-shadow: 0 0 2px 2px salmon;
}

.review-footer {
  @include flexbox(row, space-around, center);
  width: 100%;
}
.user {
  @include flexbox(row, space-around, center);
  font-size: 18px;
  font-weight: bold;
}
.profile-img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  cursor: pointer;
}
.helpful-count {
  left: 10px;
  cursor: pointer;
}
.review-numbers {
  @include flexbox(row, flex-start, flex-start)
}
.review {

}
.review-table {
  width: 200px;
}
.date {
  font-size: 0.9em;
}
.error-container {
  width: 92px;
}
.date {

}

.sort-group {
  @include flexbox(row, space-between, center);
  margin-bottom: 20px;
  width: 100%;
}


.reviews-list-container {
  width: 100%;
}