@import './helper';


.user-profile-layout {
  @include flexbox(row, flex-start, flex-start);
  background-color: $white;
  height: calc(100vh - 60px);
}
.profile-reviews {
  border-left: 2.5px solid rgb(230, 226, 226);
  border-right: 2.5px solid rgb(230, 226, 226);
  padding-top: 300px;
  max-height: calc(100vh - 360px);
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-padding-top: 4px;
  width: 40%;
  @include flexbox(column, center, center);
}

.profile-container {
  @include flexbox(column, flex-start, center);
  padding-left: 40px;
  padding-right: 40px;
}
.chart-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
}

.user-chart-container {
  @include flexbox(column, flex-start, center);
  height: calc(100vh - 60px - 70px);
  margin-top: 70px;
  width: 36.7%; 
}

.city-container {
  font-size: 20px;
  font-weight: bold;  
  @include flexbox(column, center, center)
}
.profile-header {
  margin-top: 40px;
  font-size: 40px;
  font-weight: bold;
  @include flexbox(column, center, center)

}
.profile-picture-container {
  height: 200px;
  width: 180px;
  margin-top: 40px;
}
.profile-picture {
  max-width: 180px;
  border-radius: 50%;
}

.help-count {
  @include flexbox(column,flex-start, center);
}

.account-created {
  @include flexbox(column,flex-start, center);
}
.acc-created-label {
  margin-bottom: 10px;
  margin-top: 6px;
  font-size: 18px;
  font-weight: bold;
}
.profile-info-table {
  text-align: center;
  border-spacing: 16px;
}
.review-table-icon {
  margin-right: 6px;
}

