@import '../helper';

.venue-search-bar {
  border: 1px solid #cacaca;
  border-radius: 5px;
  height: 35px;
  width: 250px;
  outline: none;
  margin-right: 10px;
  font-size: 18px;
  padding-left: 10px;
}
